/*
    Logo green: #72A147
    font-family: 'Maven Pro', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

body {
    font-family: 'Maven Pro', sans-serif;
    background-image: url(../Images/background_stock.jpg);
}
.background {
    background-color: rgba(255,255,255,.8);
    width: 70%;
    margin: 0 auto;
}

/*#region Styling for index.html*/
div#indexLeft {
    text-align: right;
}
div#indexLeft p {
    width: 49%;
    float: right;
    margin-bottom: auto;
    font-size: 1em;
    text-align: left;
}
div#indexLeft h3 {
    width: 49%;
    float: right;
    font-size: 2em;
    text-align: left;
    margin-bottom: 5px;
}
div #indexRight h3 {
    font-size: 2em;
    width: 49.7%;
    text-align: left;
    float: left;
    margin-bottom: 5px;
}
div#indexLeft img {
    float: left;
    border: 1px solid black;
    width: 50%;
    height: auto;
}

div #indexRight {
    text-align: left;
}
    div #indexRight p {
        width: 49%;
        float: left;
        margin: auto;
        font-size: 1em;
        text-align: left;
    }
div #indexRight img {
    float: right;
    border: 1px solid black;
    border-bottom: none;
    width: 49.8%;
    height: auto;
}

.clear {
    clear: both;
}
section article h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
}
article#aboutUs img {
    float: left;
    width: 10%;
    border: 1px solid black;
    margin: 15px;
    margin-top: 4.8em;
    vertical-align: central;
}
article#aboutUs p {
    width: 75%;
    font-size: 1em;
    text-align:left;
    margin: 0 auto;

}
section article#aboutUs h2 {
    text-align: left;
    font-size: 2em;
}

article#aboutUs p a {
    color: black;
}
    article#aboutUs p a:hover {
        color: #72A147;
    }

/*#endregion*//*Complete!*/
/*#region Styling for navigation bar*/
nav ul li a:hover {
    color: #fff;
    background-color: #72a147;
    padding: 5px;
    margin: 0 5px 0 5px;
    text-decoration: underline;
    border-radius: 10px;
}

nav ul li {
    display: inline-block;
    font-size: 22px;
}

    nav ul li a {
        text-decoration: none;
        color: #000;
        margin: 5px 10px 5px 10px
    }

nav {
    border: 1px solid;
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255,255,255,1)   
}
/*#endregion*//*Complete!*/
/*#region Styling for header*/
header aside, footer aside {
    width: 5%;
    float: right;
    margin: 5px 10px 5px 5px;
    background-color: rgba(255,255,255,1)
}
.selected {
    background-color: #ddd;
    padding: 5px 0;
    border-radius: 10px;
    margin: 0 10px;
}
header aside a, footer aside a {
    color: black;
    text-decoration: none;
}
header img {
    width: 8%;
    float: left;
}

header {
    border: 1px solid;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255,255,255,1)
}

    header h1, header p {
        margin-bottom: 5px;
        text-align: left;
        margin-left: 150px;
    }

    header h1 {
        margin-top: 40px;
    }
/*#endregion*/   /*Complete!*/
/*#region Footer styling*/
footer {
    border: 1px solid;
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    background-color: rgba(255,255,255,1)
}

    footer p {
        text-align: left;
        padding-left: 2em;
    }
/*#endregion*/ /*Complete!*/
/*#region class tiles*/

.subjectClassTop {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#fixAssetClass:hover, #accPayableClass:hover, #cashClass:hover, #taxClass:hover, #auditClass:hover, #budgetingClass:hover {
    border: 2px dashed #72a147;
}

#taxClass, #auditClass, #budgetingClass {
    border: 1px solid;
    width: 25%;
    display: inline-block;
    background-color: white;
    margin: 30px;
    text-align: left;
    height: 550px;
    vertical-align: top;
}


    #fixAssetClass p, #accPayableClass p, #cashClass p, #taxClass p, #auditClass p, #budgetingClass p {
        width: 90%;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
    }

    #fixAssetClass h3, #accPayableClass h3, #cashClass h3, #taxClass h3, #auditClass h3, #budgetingClass h3 {
        font-size: 1.5em;
        text-align: center;
    }

/*#accPayableClass h3 and #accPayableClass p are here to make the page look more symetrical since if they weren't applied it would look skewed
    due to the size of the h3
*/
#accPayableClass h3 {
    margin-top: 10px;
    margin-bottom: 12px
}

#accPayableClass p {
    margin-top: 0px;
}

#taxClass img, #auditClass img, #budgetingClass img {
    width: 100%;
    height: auto;
}

#cashClass img, #fixAssetClass img, #accPayableClass img {
    width: 100%;
    height: auto;
}

.middleAligned {
    text-align: center;
    width: 80%;
    margin: 15px auto;
    margin-top: 120px;
    font-weight: 700;
    font-size: 25px;
}

section article h2.middleAligned {
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 1em;
    text-decoration: underline;
}

#cashClass, #fixAssetClass, #accPayableClass {
    border: 1px solid;
    width: 25%;
    display: inline-block;
    background-color: white;
    margin: 30px;
    text-align: left;
    height: 550px;
    vertical-align: top;
}

.subjectClassBottom {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.subjectClassTop a, .subjectClassBottom a {
    color: black;
    text-decoration: none;
}



/*#endregion*/   /*Complete!*/
/*#region styling for classes table*/
table, tr, td, th {
    border-bottom: 1px solid #999;
    border-collapse: collapse;
}
table {
    margin: auto;
    margin-bottom: 4em;
    text-align: center;
    background-color: rgba(255,255,255,.7);
}
td {
    padding: 1em 4em;
}
.title {
    font-size: 20px;
    font-weight: 700;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}
thead {
    background-color: #ccc;
}
thead tr th {
    padding: 1em;
}
/*#endregion*/ /*Complete!*/
/*#region contact styling*/
.contactInfo {
    margin: 0 auto;
    width: 30%;
    padding: 35px;
    padding-top: 45px;
    padding-bottom: 45px;
    
}
.contactInfo h2 {
    font-size: 35px;
    text-align:center;
}
    .contactInfo p {
        font-size: 22px;
        text-align: left;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        margin: 15px;
        padding: 5px;
    }


/*#endregion*/
/*#region TEAM STYLING*/
div.background article section.teams img {
    height: auto;
    border-radius: 50%;
    border: 2px solid black;
    float: left;
    width: 10%;
    
}
div.background article section.teams p {
    margin: 3em 0;
    font-size: 1em;
}
div.background article section.teams h2 {
    margin-top: 0;
    padding-top: 15px;
    font-size: 2em;
}

article aside {
    width: 20%;
    float: right;
    height: 100%;
}
article section.teams {
    width: 80%;
    border-right: dashed 2px black;
}

article aside a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    text-align: left;
    list-style: none;
    padding-left: 0;
}
article aside li {
    list-style: none;
    padding: 15px 0;
}
article aside a:hover {
    color: #72A147;
    text-decoration: underline;
}
article aside h3 {
    font-size: 2em;
}

article aside ul {
    padding-left: 10px;
}
/*#endregion*/