/*
    Logo green: #72A147
    font-family: 'Maven Pro', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

/*Styling for social media logos*/
header aside, footer aside {
    width: 5%;
    float: right;
    margin: 5px 10px 5px 5px;
}
header aside a, footer aside a {
    color: black;
    text-decoration: none;
}
/*Styling for index.html*/
.indexLeftColumn {
    width: 93%;
    margin-left: 2%;
}
/*Styling for navigation bar*/
nav ul li a:hover {
    color: #fff;
    background-color: #72a147;
    padding: 5px;
    margin: 0 5px 0 5px;
    text-decoration:underline;
}
nav ul li  {
    display: inline-block;
    font-size: 22px;
}
nav ul li a {
    text-decoration:none;
    color: #000;
}
/*Styling for header*/
header img {
    width: 10%;
    float: left;
}
header {
    border: 1px solid;
}
header h1, header p {
    margin-bottom: 5px;
    text-align: left;
}
header h1{
    margin-top: 50px;
}